<div class="position" *ngIf="employee">
    <h1>Edycja Pracownika</h1>
    <mat-form-field>
        <input matInput placeholder="Imię" [(ngModel)]="this.employee.imie">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nazwisko" [(ngModel)]="this.employee.nazwisko">
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Stanowisko</mat-label>
    <mat-select [(ngModel)]="employee.id_stanowiska">
        <mat-option *ngFor="let position of allPositions$ | async" [value]="position.id">
        {{position.nazwa}}
        </mat-option>
    </mat-select>
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="employee.status">
        <ng-container *ngIf="employee.status; else elseTemplate">
            Aktywny
        </ng-container>
        <ng-template #elseTemplate>
            Nieaktywny
        </ng-template>
    </mat-slide-toggle>


    <div class="buttons">
        <button mat-raised-button routerLink="/employees">Wróć</button>
        <button mat-raised-button (click)="updateEmployee()" >Zapisz</button>
    </div>
</div>
<div class="absences">
    <div style="display:flex; gap: 10px; justify-content: center; align-items: flex-start;">
        <h1>Urlopy</h1>
        <button mat-raised-button routerLink="/absences/add/{{employee.id}}">Dodaj urlop</button>
    </div>
    <div class="urlop" *ngFor="let item of employeeAbsences$ | async as absences">
        {{item.absence_type | absenceTypePipe:absenceTypes}}
        {{item.absence_from | date}} - {{item.absence_to | date}}
    </div>
</div>