<table mat-table [dataSource]="TableData" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8" *ngIf="absenceTypes">

  <!-- Position Column -->
  <ng-container matColumnDef="imie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Imie">
      Imię
    </th>
    <td mat-cell *matCellDef="let element" [state]="element" routerLink="/absences/{{element.id}}"> {{element.imie}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nazwisko">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Nazwisko
    </th>
    <td mat-cell *matCellDef="let element" [state]="element" routerLink="/absences/{{element.id}}"> {{element.nazwisko}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="absence_from">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        Od
    </th>
    <td mat-cell *matCellDef="let element" [state]="element" routerLink="/absences/{{element.id}}">{{ element.absence_from | date }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="absence_to">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        DO
    </th>
    <td mat-cell *matCellDef="let element" [state]="element" routerLink="/absences/{{element.id}}"> {{element.absence_to | date}} </td>
  </ng-container>

  <ng-container matColumnDef="absence_type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Typ
    </th>
    <td mat-cell *matCellDef="let element" [state]="element" routerLink="/absences/{{element.id}}"> {{element.absence_type | absenceTypePipe:absenceTypes}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

